
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: 12px !important; /* Hoặc 12px nếu muốn nhỏ hơn */
}


.custom-tooltip {
    position: relative;

}

.custom-tooltip .tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    position: absolute;
    z-index: 1000;
    bottom: 110%; /* Vị trí của tooltip */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
}

.custom-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Ẩn spinner trên Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn spinner trên Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.swiper {
  width: 100%;
  height: 100vh;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}


.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
}

.payment-card {
  width: 400px;
  text-align: center;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.5s ease-in-out;
}

.payment-header {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.payment-icon {
  font-size: 70px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.payment-message {
  font-size: 16px;
  color: #666;
  margin-top: 8px;
}

.payment-button {
  margin-top: 16px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.payment-button:hover {
  transform: scale(1.05);
}

.payment-button.success {
  background: #28a745;
  color: white;
}

.payment-button.error {
  background: #dc3545;
  color: white;
}

.payment-button.loading {
  background: #007bff;
  color: white;
}

/* Hiệu ứng xuất hiện */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
